/* Based on: https://localforage.github.io/localForage/theme/localforage.css*/
body,
td,
textarea,
input {
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #505050;
}
@media (max-width: 480px) {
  body,
  td,
  textarea,
  input {
    font-size: 14px;
  }
}
  